* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --text-color: #98b4b2;
    --bg-color: #323234;
    --white: #fff;
    --black: #000;
    --mob-color: #444444;
}

.container {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
}

header {
    background: var(--bg-color);
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    z-index: 1;
}

nav .logo a {
    text-decoration: none;
    font-size: 32px;
    font-weight: 600;
    color: var(--white);
}

nav .logo a span {
    color: white;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    font-size: 18px;
    list-style: none;
    z-index: 1;
}

nav ul li a {
    text-decoration: none;
    color: var(--white);
    transition: 0.4s ease;
}

nav ul li a:hover {
    color: var(--text-color);
}

nav .hamburger {
    position: relative;
    width: 30px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    display: none;
    scale: 0.8;
}


nav .hamburger .bar,
nav .hamburger::after,
nav .hamburger::before {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: var(--white);
    margin: 6px 0;
    transition: 0.4s;
}

nav .hamburger.active::before {
    transform: rotate(-45deg) translate(-8px, 5px);
}

nav .hamburger.active::after {
    transform: rotate(45deg) translate(-8px, -5px);
}

nav .hamburger.active .bar {
    opacity: 0;
}

/* Home Section */


.about {
    background: var(--bg-color);
    position: absolute;
    top: 0;
    width: 100%;
    padding: 250px 0 50px;
    text-align: center;
}

.about img {
    height: 350px;
    width: 350px;
    margin-bottom: 40px;
   
}

.about-text {
    width: 100%;
}

.main {
    width: 70%;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.about-text h1 {
    color: #98b4b2;
    font-size: 60px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
   letter-spacing: 2px;
}

.about-text p {
    color: #98b4b2;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 55px;
    text-align: justify;
    width: 100%;
}

.profile {

    object-fit: cover;
    border-radius: 50%;
    border: 6px solid var(--text-color);
    box-shadow: 0 0 60px var(--text-color);

}

@media screen and (max-width: 992px) {
    header {
        background: var(--mob-color);
        position: sticky;
        top: 0;
        z-index: 9;
    }

    nav .hamburger {
        display: block;
    }

    nav ul {
        position: fixed;
        top: 90px;
        left: 100%;
        width: 100%;
        height: 100vh;
        background: var(--mob-color);
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        padding: 50px;
        gap: 30px;
        transition: .5s ease-in;
    }

    nav ul li a {
        font-size: 28px;
    }

    nav ul.active {
        left: 0%;
    }
}